table {
  margin-bottom: 50px;
}

th {
  cursor: pointer;
}

p {
  text-align: center;
  font-size: 25px;
}

#bug-spinner {
  width: 250px;
  height: 300px;
}

button.btn-secondary {
  margin-bottom: 20px;
  background: #1a1a1a;
}
