<div class="row">
  <div class="col-2"> </div>
  <div class="col-8">
    

      <button type="button" class="btn btn-secondary pull-left -caret-square-o-left margin:auto" (click)="createNewBug()"> Report Bug </button>

      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col" (click)="sort('title')">Title
              <app-caret [isAsc]="sorting.isAsc" [isSorted]="sorting.column === 'title'"></app-caret>
            </th>
            <th scope="col" (click)="sort('priority')">Priority
              <app-caret [isAsc]="sorting.isAsc" [isSorted]="sorting.column === 'priority'"></app-caret>
            </th>
            <th scope="col" (click)="sort('reporter')">Reporter
              <app-caret [isAsc]="sorting.isAsc" [isSorted]="sorting.column === 'reporter'"></app-caret>
            </th>
            <th scope="col" (click)="sort('createdAt')">Date Created
              <app-caret [isAsc]="sorting.isAsc" [isSorted]="sorting.column === 'createdAt'"></app-caret>
            </th>
            <th scope="col" (click)="sort('status')">Status
              <app-caret [isAsc]="sorting.isAsc" [isSorted]="sorting.column === 'status'"></app-caret>
            </th>
            <th scope="col" ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bug of bugs">
            <td>{{bug.title}}</td>
            <td>{{bug.priority}}</td>
            <td>{{bug.reporter}}</td>
            <td>{{bug.createdAt | date:'d/M/yy, h:mm a' }}</td>
            <td>{{bug.status}}</td>
            <td> <button class="btn btn-info btn-sm" (click)="EditBug(bug.id)"> Edit <i class="fa fa-edit" aria-hidden="true"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>

    
  <div class="col-2"></div>
</div>
